@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
}

.container {
  width: 200px;
  height: 100vh;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: .2s;
  
}

.expand{
  width: 60px;
}

.expand:hover{
  width: 200px;
}

.menu, .sub-menu{
  list-style-type: none;
}

.menu .selected{
  background-color: rgba(0, 0, 0, 0.06);
  color: rgb(31, 120, 255);
}

.menu-item a {
  text-decoration: none;
  color: rgb(68, 68, 68);
  display: flex;
  align-items: center;
  margin: 10px 8px;
  padding: 10px 0;
  transition: .2s;
  border-radius: 5px;
}

.sub-menu-item > a{
  padding: 5px 15px;
}

.menu a i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgb(31, 120, 255);
}

#menu-button {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  left: 15px;
  transition: .2s;
}

#menu-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-menu-item {
  transition: opacity .3s ease;
}

.arrow{
  transition: .3s;
}

.arrow-expand{
  transform: rotate(180deg);
}

.sub-menu{
  margin: 0 10px;
  display: none;
  transition: all .3s ease;

}
